In [105]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

# BY Using RDD 
1. By Parallelize()
2. By Using CreateDataFrame() funsction
3. By using read and load functions

In [106]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Python Spark create RDD example').config("spark.some.config.option","some_value").getOrCreate()

df = spark.sparkContext.parallelize([(1,2,3,'a b c'),(4,5,6,'d e f'),(7,8,9,'g h i')]).toDF(['col1','col2','col3','col4'])
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [107]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Python Spark create RDD example').config("spark.some.config.option","some_value").getOrCreate()
myData = spark.sparkContext.parallelize([(1,2),(3,4),(5,6),(7,8),(9,10)])
myData.collect()

[(1, 2), (3, 4), (5, 6), (7, 8), (9, 10)]

In [108]:
# Bysing  createDataFrame() Function
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Python Spark create RDD example')\
.config("spark.some.config.option","some_value").getOrCreate()

Employee = spark.createDataFrame([('1','Joe','70000','1'),
                                  ('2','Henery','80000','2'),
                                  ('3','Sam','60000','2'),
                                  ('4','Max','90000','1')],
                                  ('ID','Name','Salary','DepartmentID'))
Employee.show()

+---+------+------+------------+
| ID|  Name|Salary|DepartmentID|
+---+------+------+------------+
|  1|   Joe| 70000|           1|
|  2|Henery| 80000|           2|
|  3|   Sam| 60000|           2|
|  4|   Max| 90000|           1|
+---+------+------+------------+

# 3. By using read and Load Functions

In [109]:
# By using read and load functions
# from pyspark.sql import SparkSession

# spark = SparkSession.builder.appName('Python Spark create RDD example')\
# .config("spark.some.config.option","some_value").getOrCreate()
# df = spark.read.format('com.databricks.spark.csv').options(header='true',inferschema='true').\
# load('sushil1902/Datasets/main/Advertising.csv', header= True)

In [110]:
url = 'https://raw.githubusercontent.com/sushil1902/Datasets/main/Advertising.csv'
from pyspark import SparkFiles
spark.sparkContext.addFile(url)
df_adv = spark.read.csv(SparkFiles.get("Advertising.csv"), header=True)
df_adv.show(5)
df_adv.printSchema()

+---+-----+-----+---------+-----+
|_c0|   TV|Radio|Newspaper|Sales|
+---+-----+-----+---------+-----+
|  1|230.1| 37.8|     69.2| 22.1|
|  2| 44.5| 39.3|     45.1| 10.4|
|  3| 17.2| 45.9|     69.3|  9.3|
|  4|151.5| 41.3|     58.5| 18.5|
|  5|180.8| 10.8|     58.4| 12.9|
+---+-----+-----+---------+-----+
only showing top 5 rows

root
 |-- _c0: string (nullable = true)
 |-- TV: string (nullable = true)
 |-- Radio: string (nullable = true)
 |-- Newspaper: string (nullable = true)
 |-- Sales: string (nullable = true)

# Read datesets from HDFS

In [111]:
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import HiveContext

In [112]:
# sc = SparkContext('local','example')
# hc = HiveContext(sc)
# tfl = sc.textFile("hdfs://cdhstltest/user/data/demo.csv")
# print(tf1.first())

# Comparison **rdd.DataFrame** and **pd.DataFrame**

In [113]:
my_list = [['a',1,2],['b',2,3],['c',3,4]]
col_name = ['A','B','C']

In [114]:
# Create DateFrame using list using spark and Pandas
import pandas as pd
pd.DataFrame(my_list,columns=col_name)

   A  B  C
0  a  1  2
1  b  2  3
2  c  3  4

In [115]:
spark.createDataFrame(my_list,col_name).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  a|  1|  2|
|  b|  2|  3|
|  c|  3|  4|
+---+---+---+

In [116]:
pd.DataFrame(my_list,col_name) 
# defalut consider index

   0  1  2
A  a  1  2
B  b  2  3
C  c  3  4

# rdd.DataFrame and pd.DataFrame using Dictionary

In [117]:
# dictioanry
d = {'A':[0,1,0],
     "B":[1,0,1],
     "C":[1,0,0]}

In [118]:
pd.DataFrame(d)

   A  B  C
0  0  1  1
1  1  0  0
2  0  1  0

In [119]:
list(d.values())
# print(type(list(d.values())))

[[0, 1, 0], [1, 0, 1], [1, 0, 0]]

In [120]:
import numpy as np
np.array(list(d.values()))

array([[0, 1, 0],
       [1, 0, 1],
       [1, 0, 0]])

In [121]:
np.array(list(d.values())).tolist()

[[0, 1, 0], [1, 0, 1], [1, 0, 0]]

In [122]:
spark.createDataFrame(np.array(list(d.values())).tolist(),list(d.keys())).show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  0|  1|  0|
|  1|  0|  1|
|  1|  0|  0|
+---+---+---+

# First n rows in pandas and spark

In [123]:
dp_adv = pd.read_csv('https://raw.githubusercontent.com/sushil1902/Datasets/main/Advertising.csv',index_col = None)

In [124]:
ds_adv = spark.read.csv(SparkFiles.get("Advertising.csv"), header=True)

In [125]:
dp_adv.reset_index(drop=True, inplace=True)
dp_adv.head(2)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4

In [126]:
ds_adv.show(2)

+---+-----+-----+---------+-----+
|_c0|   TV|Radio|Newspaper|Sales|
+---+-----+-----+---------+-----+
|  1|230.1| 37.8|     69.2| 22.1|
|  2| 44.5| 39.3|     45.1| 10.4|
+---+-----+-----+---------+-----+
only showing top 2 rows

In [127]:
# from Json
# dp = pd.read_json('data/data.json')
# ds = saprk.read_json('data/data/json')

In [128]:
print('Pandas columns :',dp.columns)
print('Spark columns :',ds.columns)

Pandas columns : Index(['a', 'b', 'c'], dtype='object')
Spark columns : ['A', 'B', 'C']

In [129]:
print('Pandas columns :',dp.dtypes)
print('Spark columns :',ds.dtypes)

Pandas columns : a      int64
b      int64
c    float64
dtype: object
Spark columns : [('A', 'string'), ('B', 'bigint'), ('C', 'bigint')]

# Fill Null Values

In [130]:
my_list = [['male',1,None],['female',2,3],['male',3,4]]
dp = pd.DataFrame(my_list,columns = ['A','B','C'])
ds = spark.createDataFrame(my_list, ['A','B','C'])
print(dp.head())
print("***********************************")
print(ds.show())

        A  B    C
0    male  1  NaN
1  female  2  3.0
2    male  3  4.0
***********************************
+------+---+----+
|     A|  B|   C|
+------+---+----+
|  male|  1|null|
|female|  2|   3|
|  male|  3|   4|
+------+---+----+

None

In [131]:
dp.fillna(-99)

        A  B     C
0    male  1 -99.0
1  female  2   3.0
2    male  3   4.0

In [132]:
ds.fillna(-99).show()

+------+---+---+
|     A|  B|  C|
+------+---+---+
|  male|  1|-99|
|female|  2|  3|
|  male|  3|  4|
+------+---+---+

# Replace

In [133]:
# Choose specific columns
dp.A.replace(['male','female'],[1,0],inplace = True)
dp

   A  B    C
0  1  1  NaN
1  0  2  3.0
2  1  3  4.0

In [134]:
# Mixed type replacement are not supported
ds.replace(['male','female'],['1','0']).show()

+---+---+----+
|  A|  B|   C|
+---+---+----+
|  1|  1|null|
|  0|  2|   3|
|  1|  3|   4|
+---+---+----+

# Rename all columns

In [140]:
dp_adv.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [141]:
dp_adv.columns = ['a','b','c','d']
dp_adv.head()

       a     b     c     d
0  230.1  37.8  69.2  22.1
1   44.5  39.3  45.1  10.4
2   17.2  45.9  69.3   9.3
3  151.5  41.3  58.5  18.5
4  180.8  10.8  58.4  12.9

In [142]:
ds_adv.columns

['_c0', 'TV', 'Radio', 'Newspaper', 'Sales']

In [143]:
# Drop '_c0' columns
ds_adv.drop("_c0").printSchema()

root
 |-- TV: string (nullable = true)
 |-- Radio: string (nullable = true)
 |-- Newspaper: string (nullable = true)
 |-- Sales: string (nullable = true)

In [144]:
ds_adv.toDF('a','b','c','d').show()

IllegalArgumentException: ignored